<% admin_title 'Metrics', 'Cumulated' %>
<div class="panel panel-info"style="width: 700px">
	<div class="panel-heading">
		<h3 class="panel-title">Number of leads : <%= @lead_count %></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
			  		<th>Email</th>
			  		<th>Created</th>
			  		<th>Postcode</th>
				</tr>
			</thead>
			<tbody>
		    <% @last_leads.each do |lead| %>
		        <tr>
		          <th scope="row"><%= lead.email %></th>
		          <td><%= time_ago_in_words lead.created_at %></td>
		          <td><%= lead.post_code %></td>
		        </tr>
		    <% end %>
		    </tbody>
		</table>
	</div>
	<div class="panel-footer">
		<i>Last <strong><%= @nb_last_leads %></strong> leads. To see more, add "&amp;nb=[your number]" to url</i>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Paying leads : <%= @paying_leads.count %></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
			  		<th>Name</th>
			  		<th>Email</th>
			  		<th>Phone</th>
			  		<th>Country</th>
			  		<th>Version</th>
			  		<th>Offer</th>
			  		<th>Transaction Number</th>
			  		<th>Applied</th>
			  		<th>Created</th>
				</tr>
			</thead>
			<tbody>
			    <% @paying_leads.each do |lead| %>
			    	<tr>
		          		<th scope="row"><%= lead.first_name %> <%= lead.last_name %></th>
		          		<td><%= lead.email %></td>
		          		<td><%= lead.phone %></td>
		          		<td><%= lead.country %></td>
		          		<td><%= lead.version %></td>
		          		<td><%= lead.offer %></td>
		          		<td><%= lead.transaction_number %></td>
		          		<td><%= time_ago_in_words lead.applied_at %></td>
		          		<td><%= time_ago_in_words lead.created_at %></td>
		         	</tr>
		    	<% end %>
		    </tbody>
		</table>
	</div>
</div>
