<div class="_floatingForm">
  <!-- <h3>Embarquez avec nous !</h3> -->
  <%= form_for @lead, url: create_program_lead_path(version: @chosen_version, offer: @chosen_offer), html: {role: 'form', method: :post, id: 'payment-form'} do |f| %>
    <div class="_payment-errors alert alert-danger" style="<%= @payment_error_message.present? ? nil : 'display:none' %>"><%= @payment_error_message %>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <%= f.label :first_name, class: 'sr-only' %>
                <%= f.text_field :first_name, class: "form-control input-lg", required: true, placeholder: "votre prénom" %>
            </div>
            <div class="col-xs-6">
                <%= f.label :last_name, class: 'sr-only' %>
                <%= f.text_field :last_name, class: "form-control input-lg", required: true, placeholder: "votre nom" %>
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :email, class: 'sr-only' %>
        <%= f.email_field :email, class: "form-control input-lg", required: true, placeholder: "votre email" %>
    </div>
    <div class="form-group">
        <%= f.label :post_code, class: 'sr-only' %>
        <%= f.text_field :post_code, class: "form-control input-lg", required: true, placeholder: "votre code postal" %>
    </div>
    
    <%= f.submit "Tenez-moi informé" , class: "btn btn-success btn-lg btn-radius btn-block", id: 'payment-submit' %>
  <% end %>
</div>