<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
    <style>
        h1 {
            color: #000;
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 30px;
        }
        .header-v1 .navbar-nav > li > a {
            color: #7a7a7a;
        }

        .header-v1 .navbar-nav > li.button-nav > a {
            color: #fff;
        }
    </style>
<% end %>

<style>
._floatingForm.affix {
    position: relative;
}

@media screen and (min-width: 1200px) {
    ._floatingForm.affix {
        position: fixed;
        width: 22.5%;
    }
}
</style>

<br/>

<section id="features">
    <div class="container">
        <%= render 'home/nav' %>
        <section id="features">
            
            <h1 class="lead text-center" style="margin-bottom: 10px; font-size: 30px">
                Vous avez choisi votre Risebox.
            </h1>
            <p class="lead text-center">
                Déposez <%= @offer[@chosen_version][@lead.offer][:reservation] %>€ aujourd'hui pour être parmi les premiers livrés en Janvier 2017
            </p>

            <div class="row" style="padding-top: 20px">
                <div class="col-md-4 hidden-xs hidden-sm" style="margin-bottom: 10px">
                    <%= image_tag @chosen_version == "ultime" ? "home/risebox_front.jpg" : "home/risebox_front_small_nospace.jpg", class: "img-responsive" %>
                </div>
                <div class="col-sm-6 col-md-4" style="margin-bottom: 10px">
                    <div class="price-box">
                        <h3 class="text-center" style="color: #ff8f12; font-size: 16px;">Offre spéciale "Early Fish"</h3>
                        <p class="text-center">Valable jusqu'au 31/05</p>
                        <div class="row" style="margin-top: 30px">
                           <div class="col-sm-8"><h3 style="margin-bottom: 3px">1 Risebox</h3><span>Version <%= @lead.version %></span></div>
                           <div class="col-sm-4"><h3 style="text-align: right"></h3></div>
                        </div>
                        <div class="row" style="margin-top: 15px">
                           <div class="col-sm-8"><h3>Formule <%= @lead.offer %></h3></div>
                           <div class="col-sm-4"><h3 style="text-align: right"><%= @offer[@chosen_version][@lead.offer][:price_tag]%></h3></div>
                        </div>

                         <!-- <div class="row" style="margin-top: 15px">
                            <div class="col-sm-8"><h3>Livraison</h3><span>Janvier 2017</span></div>
                            <div class="col-sm-4"><h3 style="text-align: right">Incluse</h3></div>
                         </div> -->

                         <div class="row">
                            <div class="col-sm-12" style="margin-top: 20px">
                                <div class="sep">&nbsp;</div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-sm-8"><h3 style="margin-bottom: 3px">Réservation</h3><span>100% remboursable</span></div>
                            <div class="col-sm-4"><h3 style="text-align: right"><%= @offer[@chosen_version][@lead.offer][:reservation] %>€</h3></div>
                         </div>
                         <p class="text-center" style="margin-top: 15px"><%= @offer[@chosen_version][@lead.offer][:small_line] %></p>
                         <!-- <div class="row" style="margin-top: 15px">
                            <div class="col-sm-8"><span style="margin-bottom: 3px">Solde à régler avant expédition</span></div>
                            <div class="col-sm-4" style="text-align: right"><span>2490€</span></div>
                         </div> -->
                    </div>

                </div>
                <div class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
                    <%= render 'form' %>
                </div>
            </div>
        </section>

    </div>
</section>