<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
<% end %>

<style>

._floatingForm.affix {
    position: relative;
}

@media screen and (min-width: 1200px) {
    ._floatingForm.affix {
        position: fixed;
        width: 22.5%;
    }
}
</style>
    
<%= render 'home/nav' %>

 <br/><br/>

<section id="features">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 center-title">
                <h1 class="lead" style="margin-bottom: 10px; font-size: 30px">
                    Aie, notre programme est complet, mais...
                </h1>
                <p class="lead">
                    Laissez-nous vos coordonnées et nous vous proposerons la Risebox en priorité dès qu'elle sera disponible dans votre région.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 hidden-xs" style="margin-bottom: 10px">
                <%= image_tag "home/program4.jpg", class: "img-responsive" %>
            </div>
            <div class="col-sm-6" style="margin-bottom: 10px;">
                <%= render 'form_closed' %>
            </div>
        </div>

    </div>
</section>