<% wire_img = false if wire_img.nil? %>

<div class="row">
  <div class="col-sm-5 col-sm-offset-1">
      
      <div class="text-center margin-b-30">
        <!-- <h4 class="text-center">Tout notre savoir-faire au meilleur prix</h4> -->
        <%= image_tag (wire_img ? 'specs/wire_small.png' : 'home/risebox_front_small.jpg'), style: "max-width: 20em;", class: "img-responsive center-block", alt: "Dimensions de la Risebox" %>
        <br/>
        <h2 >Risebox Minime</h2>
        <h4 class="text-center">
          <span class="violet">1990€</span> TTC</span><br/>
          ou<br/>
          99€ par mois
        </h4>
        <span style="font-size: 12px"><i>(Offre early-fish durée limitée)</i>
        <br/>
        <!-- <p class="lead">
          1990€ TTC <br/>
          ou<br/>
          99€ TTC par mois
        </p> -->

        <%= link_to 'Choisir la Risebox Minime', offers_path(version: 'minime'), class: 'btn btn-lg btn-warning btn-radius' %>
      </div>

      <table class="table">
          <h3>Matériel</h3>
          <tr>
              <td>Dimensions</td>
              <td><p>184cm H x 100cm L 50cm P</p></td>
          </tr>
          <tr>
              <td>Poids</td>
              <td><p>65kg à vide<br/>280kg plein</p></td>
          </tr>
          <tr>
              <td>Façades</td>
              <td><p>En bois naturel, traité anti-humidité <br/>plusieurs coloris au choix</p></td>
          </tr>
          <tr>
              <td>Aquarium</td>
              <td>
                  <p>
                      En PMMA 1 cm d'épaisseur <br/>
                      160 litres de contenance<br/>
                      Livré avec couvercle transparent
                  </p>
              </td>
          </tr>
          <tr>
              <td>Circuit eau</td>
              <td>
                  <p>
                      Débit réglable<br/>
                      Totalement invisible et silencieux<br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td>Eclairage</td>
              <td>
                  <p>
                      128 LEDs monochromes<br/>
                      Spectre lumineux ajusté en continu<br/>
                      Mode lumière blanche<br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td>Capteurs</td>
              <td>
                  <p>
                      Niveau d'eau<br/>
                      Température de l'eau<br/>
                      Température et humidité de l'air<br/>
                      &nbsp;<br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td>Divers</td>
              <td>Structure sur roulettes</td>
          </tr>
      </table>

      <h3>Logiciel</h3>
      <table class="table">
          <tr>
              <td>Contrôle à distance</td>
              <td>
                  <p>
                      Eclairage (cycles jour/nuit, intensité, couleur)<br/>
                      Ventilation<br/>
                      Circulation de l'eau<br/>
                      Suivi de la qualité de l'eau
                  </p>
              </td>
          </tr>
      </table>

      <h3>Cultures</h3>
      <table class="table">
          <tr>
              <td>Substrat</td>
              <td>
                  <p>
                     Billes d'argiles, pas de terre<br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td>Productivité</td>
              <td>
                  <p>Jusqu'à 3 salades par semaine</p>
              </td>
          </tr>
      </table>

      <h3>Electricité</h3>
      <table class="table">
          <tr>
              <td>Puissance éclairage</td>
              <td><p>115W mode éco, jusqu'à 210W en lumière blanche</p></td>
          </tr>
          <tr>
              <td>Consommation totale</td>
              <td><p>environ 6€ par mois pour 14h d'ensoleillement par jour</p></td>
          </tr>
      </table>

      <h3><span style="color: navy">Made</span> In <span style="color: firebrick">France</span></h3>
      <table class="table">
          <tr>
              <td colspan="2">100% conçu et assemblé chez Risebox.<br/>
              L'intégralité de la structure est fabriquée en France</td>
          </tr>
      </table>
      <br/><br/>
      <div class="text-center">
          <%= link_to 'Choisir la Risebox minime', offers_path(version: 'minime'), class: 'btn btn-lg btn-warning btn-radius' %>
      </div>
  </div>

  <div class="col-sm-5 col-sm-offset-1">
      <div class="text-center margin-b-30">
        <!-- <h4 class="text-center">Productivité maximale</h4> -->
        <%= image_tag (wire_img ? 'specs/wire.png' : 'home/risebox_front.jpg'), style: "max-width: 20em;", class: "img-responsive center-block", alt: "Dimensions de la Risebox" %>
        <br/>
        <h2>Risebox Ultime</h2>
        <h4 class="text-center">
          <span class="violet">2590€</span> TTC <br/>
          ou<br/>
          149€ par mois
        </h4>
        <span style="font-size: 12px"><i>(Offre early-fish durée limitée)</i>
        <br/>
        <!-- <p class="lead">
          1990€ TTC <br/>
          ou<br/>
          99€ TTC par mois
        </p> -->
        <%= link_to 'Choisir la Risebox ultime', offers_path(version: 'ultime'), class: 'btn btn-lg btn-warning btn-radius' %>
      </div>

      <table class="table">
          <h3>Matériel</h3>
          <tr>
              <td>Dimensions</td>
              <td><p>214cm H x 100cm L 50cm P</p></td>
          </tr>
          <tr>
              <td>Poids</td>
              <td><p>75kg à vide<br/>300kg plein</p></td>
          </tr>
          <tr>
              <td>Façades</td>
              <td><p>En bois naturel, traité anti-humidité <br/>plusieurs coloris au choix</p></td>
          </tr>
          <tr>
              <td>Aquarium</td>
              <td>
                  <p>
                      En PMMA 1 cm d'épaisseur <br/>
                      160 litres de contenance<br/>
                      Livré avec couvercle transparent
                  </p>
              </td>
          </tr>
          <tr>
              <td>Circuit eau</td>
              <td>
                  <p>
                      Débit réglable<br/>
                      Totalement invisible et silencieux<br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td>Eclairage</td>
              <td>
                  <p>
                      200 LEDs monochromes<br/>
                      Spectre lumineux ajusté en continu<br/>
                      Mode lumière blanche<br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td>Capteurs</td>
              <td>
                  <p>
                      Niveau d'eau<br/>
                      Température de l'eau<br/>
                      Température et humidité de l'air<br/>
                      PH de l'eau<br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td>Divers</td>
              <td>Structure sur roulettes</td>
          </tr>
      </table>

      <h3>Logiciel</h3>
      <table class="table">
          <tr>
              <td>Contrôle à distance</td>
              <td>
                  <p>
                      Eclairage (cycles jour/nuit, intensité, couleur)<br/>
                      Ventilation<br/>
                      Circulation de l'eau<br/>
                      Suivi de la qualité de l'eau
                  </p>
              </td>
          </tr>
      </table>

      <h3>Cultures</h3>
      <table class="table">
          <tr>
              <td>Substrat</td>
              <td>
                  <p>
                     Billes d'argiles, pas de terre<br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td>Productivité</td>
              <td>
                  <p>Jusqu'à 1 salade par jour</p>
              </td>
          </tr>
      </table>

      <h3>Electricité</h3>
      <table class="table">
          <tr>
              <td>Puissance éclairage</td>
              <td><p>170W mode éco, jusqu'à 320W en lumière blanche</p></td>
          </tr>
          <tr>
              <td>Consommation totale</td>
              <td><p>environ 8€ par mois pour 14h d'ensoleillement par jour</p></td>
          </tr>
      </table>

      <h3><span style="color: navy">Made</span> In <span style="color: firebrick">France</span></h3>
      <table class="table">
          <tr>
              <td colspan="2">100% conçu et assemblé chez Risebox.<br/>
              L'intégralité de la structure est fabriquée en France</td>
          </tr>
      </table>
      <br/><br/>
      <div class="text-center">
        <%= link_to 'Choisir la Risebox Ultime', offers_path(version: 'ultime'), class: 'btn btn-lg btn-warning btn-radius' %>
      </div>
  </div>
</div>