<div class="footer text-center">
    <p>
        <%= t('.contact.blog') %> : <%= link_to 'http://blog.risebox.co', 'http://blog.risebox.co', target: '_blank', class: "comp" %>
    </p>
    <p>
       <%= t('.contact.email') %> : <%= mail_to 'hello@risebox.co', 'hello@risebox.co', class: "comp" %>
    </p>
    <p><%= t('.contact.social') %> :
        <a href="http://facebook.com/getrisebox" target="_blank">
            <span class="fa-stack fa-lg comp">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://twitter.com/getrisebox" target="_blank">
            <span class="fa-stack fa-lg comp">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://instagram.com/risebox.co" target="_blank">
            <span class="fa-stack fa-lg comp">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
        </a>
    </p>
    <p class="text-center">
        © Risebox 2016
    </p>
</div>