<div class="header">
    <!-- <h1><%# image_tag "home/logo3.jpeg", size: '150x90'%><small>Grow quality food @home</small></h1> -->
    <div class="row">
        <div class="col-lg-12 logo">
            <div class="pull-left">
                <%= link_to image_tag("home/logo.png", width: '150'), root_path %>
                <br /><h1 class="tagline">Risebox : <%= t('.tagline') %></h1>
            </div>
            <!--
            <h1 class="baseline pull-right">Grow quality food @home</h1>
            -->
            <ul class="nav nav-pills head-menu pull-right">
                <li class="<%= 'active' if (@section == :faq)%>" ><%= link_to t('.faq'), faq_path, id: 'faq-nav-menu' %></li>
                <li class="<%= (@section == :program) ? 'active' : 'important' %>"><%= link_to t('.program').html_safe, program_path(locale: :fr), id: 'program-nav-menu' %></a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-target="#" data-toggle="dropdown">
                      <%= I18n.locale == :fr ? 'Français' : 'English' %> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= url_for(locale: (I18n.locale == :fr ? :en : :fr)) %>"><%= I18n.locale == :fr ? 'English' : 'Français' %></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>