<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
<% end %>

<div class="container">
    <%= render 'nav' %>

    <h1 class="text-center">A propos de Risebox</h1>
    <br />

    <div class="row">
        <div class="col-sm-12">
            <h2>Notre mission</h2>
            <p class="lead text-justify">
                Chez Risebox nous croyons que la nourriture de demain doit être savoureuse, saine, et produite localement. <br />Nous pensons que l'auto-production est une des clés de cet avenir et nous voulons la rendre accessible à tous.
                Nous voulons donner à chacun les outils et les savoir faire pour produire sa nourriture chez lui, même en appartement.
                Nous concevons une microferme aquaponique d'intérieur : un écosystème connecté qui produit une nourriture saine et savoureuse 365 jours par an.
            </p>
        </div>
    </div>
        <!--<h2>Pourquoi nous le faisons ?</h2>
        <p class="justify-text">
            - Parceque trouver des légumes bio, locaux et de qualité en ville, c’est très difficile
            - Pour reconnecter l'Homme  avec sa nourriture, en réapprenant les gestes et les savoirs faire pour la produire lui-meme
            - Pour préserver la planète en supprimant les transports et en réduisant le gaspillage
            - Pour avoir le plaisir de déguster toute l’année des légumes sains,  savoureux, cueillis à point, qu’on a fait pousser soi-même
        </p>-->
    <div class="row">
        <div class="col-sm-12">
            <h2>Qui sommes-nous ?</h2>
            <img src="<%= image_url('home/team.jpg') %>" alt="" class="img-responsive center-block">
            <p class="text-justify">
                Nicolas et Adrien, 2 passionnés de technologie et de nature. Nous travaillons ensemble depuis plusieurs années et nous avons pris conscience des enjeux que pose l'agriculture actuelle. En créant Risebox, nous concentrons toute notre énergie à proposer une autre voie.
            </p>
        </div>
    </div>

</div>