<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
<% end %>

<div class="container">
    <%= render 'nav' %>

    <h1 class="text-center">Questions / réponses</h1>
    <ul style="padding-left: 14px;">
        <li><a href="#quoi">Qu'est-ce qu'une Risebox ?</a></li>
        <li><a href="#comment">Comment Risebox fonctionne-t-elle ?</a></li>
        <li><a href="#avantages">Quels sont les avantages de l'aquaponie ?</a></li>
        <li><a href="#les-plus">Qu’apporte Risebox, en plus de l’aquaponie ?</a></li>
        <li><a href="#quantite">Quelle quantité de nourriture produit une Risebox ?</a></li>
        <li><a href="#place">J'ai peu de place chez moi, où puis-je mettre ma Risebox ?</a></li>
        <li><a href="#resultat">Je n'ai pas la main verte, comment être sûr du résultat ?</a></li>
        <li><a href="#vegetarien">Je suis végétarien, puis-je avoir une Risebox sans poissons ?</a></li>
        <li><a href="#deplacement">Je suis souvent en déplacement, comment se comporte Risebox qd je ne suis pas là ?</a></li>
        <li><a href="#entretien">Un aquarium et un potager, c'est beaucoup d’entretien, non ?</a></li>
        <li><a href="#pousser">Qu’est ce que je peux y faire pousser ?</a></li>
        <li><a href="#achats">Comment se procurer des semences ou les plants et quel nourriture donner aux poissons ?</a></li>
    </ul>

    <h3 id="quoi">Qu'est-ce qu'une Risebox ?</h3>
    <p class="text-justify">
        Risebox est un potager vertical d’interieur où pousse une nourriture saine et fraiche. Vos légumes poussent sous vos yeux, dans votre cuisine ou votre salon : aucun traitement, aucun transport, vous les cueillez au moment de les déguster.
    </p>

    <h3 id="comment">Comment Risebox fonctionne-t-elle ?</h3>

    <p class="text-justify">
        Risebox est un système aquaponique : des poissons et des végétaux se développent en symbiose au sein d’un écosystème en équilibre.<br/><br />
        Cette technique, connue depuis l'antiquité, fonctionne sur un principe tout simple:
    </p>

    <%= image_tag("home/aquaponie.jpg", width: '80%') %>
    
    <h3 id="avantages">Quels sont les avantages de l'aquaponie ?</h3>
    <p class="text-justify">
        Les avantages de l'aquaponie sont nombreux :
        <ul>
            <li><strong>Sobriété en eau :</strong> l’aquaponie consomme 90% d’eau en moins par rapport à l’aquaculture et à la culture en plein champ</li>
            <li><strong>Garanti biologique :</strong> l’écosystème poissons-légumes se suffit à lui même et ne supporte aucun intrant chimique</li>
            <li><strong>Productivité :</strong> les végétaux poussent 3 fois plus vite qu’en culture traditionnelle, et ont besoin de moins d’espace car la nourriture et l’eau sont abondantes</li>
            <li><strong>Résilience :</strong> les plantes poussant sur un lit de billes d’argile, elles sont insensibles à la pollution des sols et à certains parasites</li>
        </ul>
    </p>
    
    <h3 id="les-plus">Qu’apporte Risebox, en plus de l’aquaponie ?</h3>
    <p class="text-justify">
        Risebox est un système aquaponique d’intérieur conçu en étage pour produire beaucoup en très peu d’espace. Le simple fait d’être situé en interieur réutilise la chaleur de votre habitat pour chauffer l’eau et les plantes, mais Risebox va plus loin pour produire de la nourriture toute l’année :
        <ul>
            <li>un éclairage à LED sobre en énergie complète la lumière fournie aux plantes</li>
            <li>de nombreux capteurs vérifient automatiquement que l’écosystème est en bonne santé</li>
            <li>notre application mobile ou tablette vous aide à entretenir votre potager et votre aquarium</li>
        </ul>
    </p>

    <h3 id="quantite">Quelle quantité de nourriture produit une Risebox ?</h3>
    <p class="text-justify">
        Une Risebox équivaut à un potager de 6m2 qui produirait toute l'année comme en plein été. En effet, Risebox n'étant pas dépendante des conditions climatiques, elle peut produire 365 jours par an. La quantité totale de nourriture dépend grandement des types de végétaux et de poisson que vous choisirez, mais elle couvrira une part significative de vos besoins en légumes.
    </p>

    <h3 id="place">J'ai peu de place chez moi, où puis-je mettre ma Risebox ?</h3>
    <p class="text-justify">
        Grâce à sa conception en étage, Risebox occupe seulement 0,5m2 au sol. Son éclairage LED intégré qui se déclenche lorsque la lumière est insuffisante permet de la placer n'importe où du moment que c'est chauffé et aéré. 
    </p>

    <h3 id="resultat">Je n'ai pas la main verte, comment être sûr du résultat ?</h3>
    <p class="text-justify">
        Nous avons conçu Risebox pour les urbains qui ne sont pas des jardiniers... même amateurs.
        <br />
        En aquaponie pas besoin d'arroser, de rajouter de l'engrais, ni de travailler la terre. Les plantes cultivées en intérieur n'ont aucun nuisible et peu de maladies.
        <br />
        Grâce à sa technologie, Risebox va plus loin : de nombreux capteurs (température, composition chimique de l'eau, ensoleillement) surveillent en permanence vos cultures. En cas de besoin, vous êtes immédiatement prévenu et vous avez la marche à suivre . 
        <br />
        Enfin, Notre App vous simplifie la culture : vous suivez l’évolution de votre potager, recevez des idées de plantations, des conseils d’entretien et de récolte.
    </p>

    <h3 id="vegetarien">Je suis végétarien, puis-je avoir une Risebox sans poissons ?</h3>
    <p class="text-justify">
        Risebox est un éco-système: sans poissons plus de nutriments d'origine naturelle pour les plantes. Par contre, rien ne vous oblige à consommer les poissons : des poissons rouges ou des carpes Koi feront parfaitement l'affaire.
    </p>

    <h3 id="deplacement">Je suis souvent en déplacement, comment se comporte Risebox qd je ne suis pas là ?</h3>
    <p class="text-justify">
        Lorsque vous n'êtes pas là, vous pouvez activer un mode "pilotage automatique" qui se charge de veiller sur votre potager et vos poissons durant votre absence. Les poissons sont nourris et votre Risebox peut même ralentir la croissance de vos plantations pour en profiter au mieux à votre retour.
    </p>

    <h3 id="entretien">Un aquarium et un potager, c'est beaucoup d’entretien, non ?</h3>
    <p class="text-justify">
        Pas avec Risebox. Nous l’avons conçu pour qu’il demande le moins d’entretien possible et qu’il dure longtemps. Le bio-filtre par exemple se nettoie tout seul. 1 fois par an, nous venons maintenir gratuitement votre installation et changer ce qui est necessaire. 
    </p>

    <h3 id="pousser">Qu’est ce que je peux y faire pousser ?</h3>
    <p class="text-justify">
        Risebox est votre outil : vous y faites pousser ce que vous voulez :)
        <br />
        Salades, haricots verts, choux, courgettes, aubergines, tomates, blettes sont particulièrement adaptés. Côté fruits : fraises, framboises, mures, physalys.
        <br />
        Dans l’eau vous pouvez mettre des poissons (tilapias, perches, carpes, poissons-rouges, ...), ou bien des crustacés comme des écrevisses ou des crevettes d’eau douce.
    </p>

    <h3 id="achats">Comment se procurer des semences ou les plants et quel nourriture donner les poissons ?</h3>
    <p class="text-justify">
        Vous pouvez utiliser des semences ou des plants ainsi que la nourriture pour poisson provenant de votre jardinerie, animalerie ou boutique spécialisée.
        <br /><br />
        <strong>Attention cependant à choisir des espèces compatibles avec l'aquaponie et à utiliser de la nourriture bio pour vos poissons.</strong> 
        <br /><br />
        Pour vous faire gagner du temps, et vous assurer de faire les bons choix, nous avons sélectionné dans notre boutique des semences, des poissons et de la nourriture adaptée.
    </p>
    <br /><br />
    
    <%= render 'subscribe' %>

    <%= render 'footer' %>
</div>