<div class="container">

    <div class="header">

        <!-- <h1><%# image_tag "home/logo3.jpeg", size: '150x90'%><small>Grow quality food @home</small></h1> -->
        <div class="row">
            <div class="col-lg-12 logo">
                <div class="pull-left">
                    <%= link_to image_tag("home/logo.png", width: '150'), root_path %>
                    <br /><%= t('.tagline') %>
                </div>
                <!--
                <h1 class="baseline pull-right">Grow quality food @home</h1>
                -->
                <ul class="nav nav-pills head-menu pull-right">
                <!--
                    <li><a href="#" id="how-nav-menu"><%= t('.nav.hiw') %></a></li>
                    <li><a href="#" id="about-nav-menu"><%= t('.nav.about') %></a></li>
                    -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <%= I18n.locale == :fr ? 'Français' : 'English' %> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= url_for(locale: (I18n.locale == :fr ? :en : :fr)) %>"><%= I18n.locale == :fr ? 'English' : 'Français' %></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="jumbotron" style="background-color: white;">
    </div>


    <p class="lead text-center"><%= t('.headline') %></p>

    <div id="leadSuccess" class="alert alert-success" role="alert" style="display:none">

    </div>

    <div id="leadError" class="alert alert-danger" role="alert" style="display:none">

    </div>

    <div class="text-center mbl">
        <!-- <div class="center-block"> -->
        <%= form_for @lead, remote: true, html: {class: 'form-inline _leadForm', role: 'form'} do |f| %>
            <div class="form-group">
                <%= f.text_field :email, class: 'form-control input-lg', size: '35', placeholder: t('.subscribe.placeholder'), id: 'lead-email', autofocus: true %>
            </div>
            <button type="submit" class="btn btn-success btn-lg"><%= t('.subscribe.button') %></button>
        <% end %>
        <!-- </div> -->
    </div>

    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp;<%= t('.features.n1.title') %></h4>
            <p class="text-justify"><%= t('.features.n1.text') %></p>
        </div>
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;<%= t('.features.n2.title') %></h4>
            <p class="text-justify"><%= t('.features.n2.text') %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;<%= t('.features.n3.title') %></h4>
            <p class="text-justify"><%= t('.features.n3.text') %></p>
        </div>
            <!-- <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Education & Entertainment</h4>
            <p>A living ecosystem next to you is an incredible opportunity to admire and learn from nature</p> -->
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;<%= t('.features.n4.title') %></h4>
            <p class="text-justify"><%= t('.features.n4.text') %></p>
        </div>
    </div>

    <blockquote class="mbl text-center">
      <p><%= t('.quote.text')%></p>
      <footer><%= t('.quote.author')%>, <cite title="<%= t('.quote.ref.long')%>"><%= t('.quote.ref.short')%></cite></footer>
    </blockquote>

    <div class="footer text-center">
        <p>
            <%= t('.contact.blog') %> : <%= link_to 'http://blog.risebox.co', 'http://blog.risebox.co', target: '_blank' %>
        </p>
        <p>
           <%= t('.contact.email') %> : <%= mail_to 'hello@risebox.co' %>
        </p>
        <p><%= t('.contact.social') %> :
            <a href="http://facebook.com/getrisebox" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
            </a>
            <a href="http://twitter.com/getrisebox" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
            </a>
        </p>
        <p class="text-center">
            © Risebox 2014
        </p>
    </div>

</div>