<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="og:image" content="<%= image_url('home/kitchen_1280.jpg') %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
<% end %>

<div class="container">

    <%= render 'nav' %>

    <div class="jumbotron kitchen-img" style="background-color: white;">
    </div>

    <h1 class="headline lead text-center"><%= t('.headline') %></h1>

    <%= render 'subscribe', focus: true %>

    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp;<%= t('.features.n1.title') %></h4>
            <p class="text-justify"><%= t('.features.n1.text') %></p>
        </div>
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;<%= t('.features.n2.title') %></h4>
            <p class="text-justify"><%= t('.features.n2.text') %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;<%= t('.features.n3.title') %></h4>
            <p class="text-justify"><%= t('.features.n3.text') %></p>
        </div>
            <!-- <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Education & Entertainment</h4>
            <p>A living ecosystem next to you is an incredible opportunity to admire and learn from nature</p> -->
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;<%= t('.features.n4.title') %></h4>
            <p class="text-justify"><%= t('.features.n4.text') %></p>
        </div>
    </div>

    <br /><br />
    <div class="jumbotron program-img">
        <p class="lead text-center" style="text-shadow: 0px 0px 9px #777; color: white; margin-top: 30px;">
            Envie d'une Risebox avant tout le monde ?
        </p>
        <div class="text-center">
            <%= link_to "Découvrez notre programme early adopter", program_path(locale: :fr), class: 'btn btn-warning btn-lg', style: "white-space: normal;" %>
        </div>
    </div>


    <blockquote class="mbl text-center">
      <p><%= t('.quote.text')%></p>
      <footer><%= t('.quote.author')%>, <cite title="<%= t('.quote.ref.long')%>"><%= t('.quote.ref.short')%></cite></footer>
    </blockquote>

    <%= render 'footer' %>

</div>