<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="og:image" content="<%= image_url('home/risebox_og.jpg') %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
    <meta name="google-site-verification" content="UxAqiqnXBoKPdN20kGn6-ZRCDsP0d9BVnSeBC35Gzho" />
<% end %>

<!-- <div class="container"> -->

    <%= render 'nav' %>

    <section id="home" class="banner-intro banner-slider">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1><%= t('home.nav.tagline') %></h1>
                        <div class="scroll-to banner-buttons">
                            <%= link_to "#features", class: "btn btn-lg btn-skin btn-radius" do %>
                                En savoir plus <i class="fa fa-angle-down"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" style="padding-top: 30px; padding-bottom: 0px">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 center-title">
                    <h2><%= t('.description') %></h2>
                    <p class="lead">
                        <%= t('.headline') %>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="glyphicon glyphicon-leaf darkgreen"></i>
                        <h3>Fraicheur imbattable</h3>
                        <p>
                            Gouteux, juteux, bien mûrs et plein de vitamines et minéraux. Risebox produit toujours une nourriture de qualité premium.
                        </p>
                        <br/>
                        <i class="glyphicon glyphicon-globe darkgreen"></i>
                        <h3>100% bio et local</h3>
                        <p>
                            Pas d'engrais, de traitement chimique ou d'antibiotiques. Vous savez que vous mangez une nourriture saine.
                        </p>
                        <br/>
                        <i class="glyphicon glyphicon-thumbs-up darkgreen"></i>
                        <h3>Succès garanti</h3>
                        <p>
                            Pas besoin de savoir jardiner. Risebox surveille et optimise le système en continu, même lorsque vous êtes absent.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 center-title">
                    <img src="<%= image_url('home/risebox_close2.jpg') %>" alt="Concept Risebox" class="img-responsive center-block">
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="glyphicon glyphicon-tint darkgreen"></i>
                        <h3>Bon pour la planète</h3>
                        <p>
                            90% d'eau en moins, aucun rejet dans l'environnement
                        </p>
                        <br/>
                        <i class="glyphicon glyphicon-signal darkgreen"></i>
                        <h3>Abondant par nature</h3>
                        <p>
                            Risebox imite la nature. La symbiose poissons et plantes permet de produire 3 fois plus vite qu'en terre.
                        </p>
                        <br/>
                        <i class="glyphicon glyphicon-home darkgreen"></i>
                        <h3>Conçu pour vivre avec nous</h3>
                        <p>
                            Un meuble au design épuré qui s'intègre facilement à votre intérieur.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cols-sm-12 center-title">
                    <%= link_to  "Découvrez la Risebox en détail", product_path, class: 'btn btn-lg btn-skin btn-radius' %>
                </div>
            </div>
        </div>
    </section>

    <div class="clients">
        <div class="container">
            <ul class="list-inline text-center">
                <li><img src="<%= image_url('home/press/tf1.png') %>" alt="TF1"></li>
                <li><img src="<%= image_url('home/press/metro.gif') %>" alt="Metro News"></li>
                <li><img src="<%= image_url('home/press/franceinter.png') %>" alt="France Inter"></li>
                <li><img src="<%= image_url('home/press/bpi.png') %>" alt="BPI"></li>
                <li><img src="<%= image_url('home/press/france3_new.png') %>" alt="France3"></li>
            </ul>
        </div>
    </div>

    <section id="gallery-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 center-title">
                    <h2>Productif et varié</h2> 
                    <p>Voici ce que vous pourrez bientôt faire pousser chez vous :)</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 feature-box">
                  <ul class="list-inline text-center tabs-navigation" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#legumes" aria-controls="legumes" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="riseicon riseicon-spinach"></i></span>Légumes</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#fruits" aria-controls="fruits" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="riseicon riseicon-strawberry"></i></span>Fruits</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#aromates" aria-controls="aromates" role="tab" data-toggle="tab" aria-expanded="false"><span>
                            <i class="riseicon riseicon-basil"></i></span>Aromates</a>
                        </li>
                  </ul>
              </div>  
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="tab-content service-tab-content">
                        <div role="tabpanel" class="tab-pane active" id="legumes">
                            <div class="row vertical-align-child">
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/salade.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Salade</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/poirée.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Poirée</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/celeri.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Celeri</p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="aromates">
                            <div class="row vertical-align-child">
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/basilic.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Basilic</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/thym.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Thym</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/oseille.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Oseille</p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="fruits">
                            <div class="row vertical-align-child">
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/fraise.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Fraise</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/poivron_main.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Poivron</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="gallery">
                                        <%= image_tag 'program/tomates.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
                                    </div>
                                    <p class="lead text-center">Tomates</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br/>

    <section class="wide-image-wrapper">
        <div class="container">
            <div class="row vertical-align-child">
                <div class="col-md-5">
                    <h3>Pourquoi un aquarium ?</h3>
                    <br/>
                    <p>
                        Risebox imite la nature en recréant un écosystème : la symbiose entre les poissons, les plantes et les micro-organismes bénéfiques. Cela s’appelle l’aquaponie.
                        <br/><br/>
                        Les poissons fertilisent l’eau, qui circule jusqu’aux plantes. Là, les micro-organismes aident les plantes à se nourrir de ces nutriments et à filtrer l’eau, qui retourne propre et oxygénée aux poissons.<br/><br/>
                        Ce mode de culture en cycle fermé est très productif, et consomme peu d’eau. De plus, il necessite peu d' entretien : pas d’arrosage, pas de désherbage, pas de changement de l’eau de l’aquarium.<br/><br/>
                        Enfin, ce fonctionnement est vertueux par nature : l’ajout d’un agent chimique perturberait l’écosystème en mettant en danger les poissons ou les micro-organismes à l’oeuvre. <strong class="violet">Vous savez ce que vous mangez!</strong>
                    </p>
                </div>
                <div class="col-md-5 img-right hidden-xs hidden-sm">
                        
                </div>
            </div>
        </div>
    </section>

    <section id="app-preview" class="section app-preview">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2 center-title">
                <h2>Toujours sous la main</h2> 
                <p>Notre application mobile vous permet de piloter l'écosystème et vous guide au quotidien </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="row aside-feature-row">
                        <div class="col-sm-12 feature-box">
                            <div class="_featureText" data-feat-number="1">
                                <h3 class="active">Contrôle total</h3>
                                <p class="active">A tout moment, vous pouvez suspendre l'éclairage, la ventilation et la circulation de l'eau</p>
                            </div>
                            <br/><br/>
                            <div class="_featureText" data-feat-number="2">
                                <h3>Lumière adaptable</h3>
                                <p>Donnez à chaque variété de plante le type de lumière dont elle à besoin</p>
                            </div>
                            <br/><br/>
                            <div class="_featureText" data-feat-number="3">
                                <h3>Suivi automatique</h3>
                                <p>Retrouvez tous les paramètres de l'environnement et suivez le fonctionnement de l'écosystème</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="screen">
                        <%= image_tag 'home/app/box.jpg', class: "_app-screen active", alt: "Box" %>
                        <%= image_tag 'home/app/leds.jpg', class: "_app-screen", alt: "Leds" %>
                        <%= image_tag 'home/app/metrics.jpg', class: "_app-screen", alt: "Metrics" %>
                        <%= image_tag 'home/app/test.jpg', class: "_app-screen", alt: "Tests de l'eau" %>
                        <%= image_tag 'home/app/shop.jpg', class: "_app-screen", alt: "Shop" %>
                        <%= image_tag 'home/app/forum.jpg', class: "_app-screen", alt: "Forum" %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row aside-feature-row">
                        <div class="col-sm-12 feature-box">
                            <div class="_featureText" data-feat-number="4">
                                <h3>Qualité de l'eau</h3>
                                <p>Fini les tests à gouttes. Mesurez la qualité avec votre smartphone en moins d'une minute</p>
                            </div>
                            <br/><br/>
                            <div class="_featureText" data-feat-number="5">
                                <h3>Boutique spécialisée</h3>
                                <p>Tout ce dont vous avez besoin: plants et semences adaptés, compléments organiques, nourriture pour poissons, accessoires</p>
                            </div>
                            <br/><br/>
                            <div class="_featureText" data-feat-number="6">
                                <h3>Communauté</h3>
                                <p>Echangez de bons conseils avec nos experts et les autres possesseurs de Risebox</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cols-sm-12 center-title">
                    <%= link_to  "Découvrez la Risebox en détail", product_path, class: 'btn btn-lg btn-skin btn-radius' %>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-section" style="padding: 50px 0">
        <div class="banner-program cta">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h2>Satisfaction garantie</h2>
                        <p class="lead" style="font-size: 20px">Risebox représente beaucoup pour nous. Pour que l'expérience de nos clients soit parfaite, nous fournissons un service complet.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 margin-b-30">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-box">
                            <i class="riseicon riseicon-box darkorange"></i>
                            <h3>Prêt à l’emploi</h3>
                            <p>
                                Chaque Risebox est assemblée, testée et conditionnée dans notre atelier. Elle est livrée chez vous déjà montée et prête à l’utilisation.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-box">
                            <i class="riseicon riseicon-heart darkorange"></i>
                            <h3>Support premium</h3>
                            <p>
                               Notre équipe d’experts est toujours disponible pour vous aider et vous donner des conseils sur votre éco-système. 
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-box">
                            <i class="riseicon riseicon-check darkorange"></i>
                            <h3>Clé en main</h3>
                            <p>
                                Pour bien démarrer, nous avons sélectionné des variétés de plantes adaptées à l’aquaponie et pré-réglé votre Risebox pour garantir d’excellents résultats.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="cols-sm-12 center-title">
                <%= link_to  "Découvrez la Risebox en détail", product_path, class: 'btn btn-lg btn-skin btn-radius' %>
            </div>
        </div> -->
    </div>
    
    <section class="pricing-section" style="padding: 50px 0">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 center-title">
                    <i class="riseicon riseicon-truck" style="font-size: 100px"></i>
                    <h2>Vous déménagez bientôt ?</h2>
                    <p class="lead" style="font-size: 20px">Aucun souci, nous déplaçons votre Risebox pour vous.</p>
                    <%= link_to  "Découvrez nos services", service_path, class: 'btn btn-lg btn-skin btn-radius' %>
                </div>
            </div>
        </div>
    </section>

    <%= render 'subscribe' %>

    <%= render 'footer' %>

<!-- </div> -->