<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
<% end %>

<style>
    blockquote {
      background: #fff;
      margin: 1.5em 10px;
      margin-bottom: 0px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 6em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote:after {
      color: #ccc;
      content: close-quote;
      font-size: 6em;
      line-height: 0.4em;
      margin-left: 6.6em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
      font-size: 21px;
    }
</style>

<!-- <div class="container"> -->
    <%= render 'nav' %>

    <br/><br/>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 center-title">
                    <i class="icon-telescope violet"></i>
                    <h1 class="lead" style="margin-bottom: 10px; font-size: 30px"><%= t '.title' %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="lead text-justify">
                        <small><%= t '.statement.why' %></small>
                    </p>
                    <p class="lead text-justify">
                        <small><%= t '.statement.how' %></small>
                        <small><%= t '.statement.what' %></small>
                    </p>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
              <blockquote><p><%= t '.quote' %></p></blockquote>
              </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <img src="<%= image_url('home/team.jpg') %>" alt="" class="img-responsive center-block">
                    <br />
                    <p class="lead text-justify">
                        <small>
                            <%= t '.who' %>
                        </small>
                    </p>
                    <p class="lead text-justify">
                        <small>
                            <%= t '.why_risebox' %>
                        </small>
                    </p>
                </div>
            </div>

            <div class="text-center mbl">
                <%= mail_to "team@risebox.co", raw("Tenté par l'aventure ? Rejoignez l'équipe !"), class: 'btn btn-success btn-lg btn-radius' %>
            </div>
        </div>
      </section>
        <%= render 'footer' %>
      