<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="og:image" content="<%= image_url('specs/risebox.jpg') %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
    <style>
        h1 {
            color: #000;
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 30px;
        }
/*        .header-v1 .navbar-nav > li > a {
            color: #7a7a7a;
        }*/
/*
        .header-v1 .navbar-nav > li.button-nav > a {
            color: #fff;
        }*/
    </style>
<% end %>

    <%= render 'nav' %>
    
    <section id="home" class="banner-intro banner-office">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1>Nature et partage <br/>dans votre open-space</h1>
                        <div class="scroll-to banner-buttons">
                            <%= link_to "#gallery-container", class: "btn btn-lg btn-skin btn-radius" do %>
                                En savoir plus <i class="fa fa-angle-down"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row vertical-align-child aside-feature-row" style="padding: 0px">
                <div class="col-sm-6">
                    <%= image_tag 'home/risebox_small.jpg', class: 'img-responsive center-block' %>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h3>Un potager zen au bureau</h3>
                    <p>
                        Risebox fait pousser des fruits et légumes frais sur votre lieu de travail<br/><br/>
                        Fini les salades sans goût à la pause déjeuner, votre repas bio pousse directement sous vos yeux.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-box">
                            <i class="riseicon riseicon-box darkorange"></i>
                            <h3>Prêt à l’emploi</h3>
                            <p>
                                Chaque Risebox est assemblée, testée et conditionnée dans notre atelier. Elle est livrée chez vous déjà montée et prête à l’utilisation.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-box">
                            <i class="riseicon riseicon-heart darkorange"></i>
                            <h3>Support premium</h3>
                            <p>
                               Notre équipe d’experts est toujours disponible pour vous aider et vous donner des conseils sur votre éco-système. 
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-box">
                            <i class="riseicon riseicon-check darkorange"></i>
                            <h3>Clé en main</h3>
                            <p>
                                Pour bien démarrer, nous avons sélectionné des variétés de plantes adaptées à l’aquaponie et pré-réglé votre Risebox pour garantir d’excellents résultats.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cols-sm-12 center-title">
                <%= link_to  "Découvrez la Risebox en détail", product_path, class: 'btn btn-lg btn-skin btn-radius' %>
            </div>
        </div>
    </div>

    <br /><br />  
    <div class="text-center mbl">
        <%= mail_to "team@risebox.co", raw("Vous avez une question ? <br/> Ecrivez-nous !"), class: 'btn btn-success btn-lg btn-radius' %>
    </div>

    <br /><br />  

    <%= render 'footer' %>
<!-- </div> -->