<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
<% end %>

<div class="container">
    <%= render 'nav' %>

    <br /><br />

    <div style="position:relative;">
        <%= image_tag 'program/nicolas_install2.jpg', size: '800x468' %>
        <div style="top:20px;left:40px;position: absolute;">
            <h1 class="text-center">Vivez l'expérience Risebox</h1>
        </div>
    </div>

    <br />

    <div class="lead text-center">
        Participez à notre <strong style="color: orange">programme early adopter</strong> et profitez de votre Risebox à partir de Septembre 2015
    </div>

    <div class="lead text-center">Risebox est unique : un potager aquaponique d'intérieur intelligent, réellement productif et efficace énergétiquement. Récoltez vos légumes frais chaque semaine, retrouvez le plaisir des légumes du jardin en intérieur.</div>

    <div class="text-center mbl">
        <%= link_to 'Je réserve ma Risebox', new_program_lead_path, class: 'btn btn-success btn-lg' %>
    </div>



    <h2 class="text-center">
        Inclus dans votre Risebox
    </h2>
    <br/>
    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-euro"></span>&nbsp;Eclairage LED optimisé</h4>
            <p class="text-justify mbl">Il émet uniquement le spectre de lumière utile au plantes pour une pousse optimale et 50% d'économie d'énergie.</p>

            <h4><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Circuit d'eau passif</h4>
            <p class="text-justify mbl">Fiable, conçu pour réduire la consommation électrique et le bruit tout en apportant circulation et oxygénation.</p>

            <h4><span class="glyphicon glyphicon-euro"></span>&nbsp;Un bel aquarium</h4>
            <p class="text-justify mbl">200l pour admirer vos poissons, le moteur de la Risebox</p>

            <h4><span class="glyphicon glyphicon-heart"></span>&nbsp;2 bacs de culture universels</h4>
            <p class="text-justify mbl">Capables de faire pousser toutes sortes de plantes sur une surface équivalente à un potager de 6m2.</p>

            <h4><span class="glyphicon glyphicon-heart"></span>&nbsp;Ordinateur embarqué</h4>
            <p class="text-justify mbl">Risebox surveille et optimise votre écosystème pour vous. Il anticipe les incidents et vous donne la marche à suivre.</p>

            <h4><span class="glyphicon glyphicon-heart"></span>&nbsp;App pratique</h4>
            <p class="text-justify mbl">Suivez votre Risebox, bénéficiez de nos conseils et de notre boutique. Vous avez la main verte!</p>
        </div>
        <div class="col-lg-6 mbm">
            <%= image_tag 'program/risebox4.jpg', size: '342x519' %>
        </div>
    </div>

    <br/><br/>

    <h2 class="text-center">
        ...en mode privilégié
    </h2>
    <br/>

    <div class="row">
        <div class="col-lg-4 mbm">
            <h4>Livré et installé chez vous</h4>
            <p>Nous faisons grandir l'éco-système de votre Risebox plusieurs semaines à l'avance et nous la livrons avec vos plantes et vos poissons en parfaite symbiose.</p>
            <p>L'équipe se déplace, installe et régle votre Risebox, et vous explique tout. . Vous n'avez plus qu'à admirer vos poissons et récolter dans quelques jours :)</p>
        </div>
        <div class="col-lg-4 mbm">
            <h4>Tout est inclus</h4>
            <p>Durant toute la durée du programme nous fournissons gratuitement des graines apatée, des plants pour gagner du temps et la nourriture pour les poissons</p>
        </div>
        <div class="col-lg-4 mbm">
            <h4>Support premium</h4>
            <p>Nous sommes joignables 7j/7 et nous intervennons chez vous si besoin. Si quelque chose ne fonctionne plus: on remplace. Vous n'êtes pas satisfait: on rembourse</p>
        </div>
    </div>

    <div class="text-center mbl">
        <%= link_to "Je réserve ma Risebox", new_program_lead_path, class: 'btn btn-success btn-lg' %>
    </div>

    <div class="row">
        <div class="col-lg-3 mbm">
            <%= image_tag 'program/divers.jpg', size: '200x200' %>
        </div>
        <div class="col-lg-3 mbm">
            <%= image_tag 'program/radis.jpg', size: '200x200' %>
        </div>
        <div class="col-lg-3 mbm">
            <%= image_tag 'program/salade.jpg', size: '200x200' %>
        </div>
        <div class="col-lg-3 mbm">
            <%= image_tag 'program/fraise2.jpg', size: '200x200' %>
        </div>
    </div>

    <div class="text-center mbl">
        Toujours pas convaincu ?<br />
        Dites-nous ce qui vous gène à <strong>jsuispassur@risebox.co</strong>
    </div>

    <!--
    <div class="well well-lg">
        <p>
        Risebox représente beaucoup pour nous. Pour nos premiers, on veut que tous ce passe bien. C'est pourquoi plutôt que de faire appel à du financement participatif, nous avons pensé programme pour des pionniers.
        <br /><br />
        A très bientôt
        <br />
        Nicolas & Adrien
        </p>
    </div>
    <br/>
    -->

    <%= render 'footer' %>

</div>