<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
    <style>
        blockquote {
          background: #fff;
          margin: 1.5em 10px;
          padding: 0.5em 10px;
          quotes: "\201C""\201D""\2018""\2019";
        }
        blockquote:before {
          color: #ccc;
          content: open-quote;
          font-size: 6em;
          line-height: 0.1em;
          margin-right: 0.25em;
          vertical-align: -0.4em;
        }
        blockquote:after {
          color: #ccc;
          content: close-quote;
          font-size: 6em;
          line-height: 0.4em;
          margin-left: 0.2em;
          vertical-align: -0.65em;
        }
        blockquote p {
          display: inline;
          font-size: 21px;
        }
    </style>
<% end %>

<div class="container">
    <%= render 'nav' %>

    <br />

    <div style="position:relative;">
        <%= image_tag 'program/nicolas_install2.jpg', style: "max-width: 100%" %>
        <div style="top:20px;left:40px;position: absolute;">
            <h1 class="text-center">Vivez l'expérience Risebox</h1>
        </div>
    </div>

    <br /><br />

    <div class="lead text-center">
        Participez à notre <strong style="color: orange">programme early adopter</strong> et profitez de votre Risebox à partir de Septembre 2015
    </div>

    <div class="text-center mbl">
        <%= link_to 'Je réserve ma Risebox', new_program_lead_path, class: 'btn btn-success btn-lg' %>
    </div>
<!--
    <blockquote>
        <p>Risebox est unique : un potager aquaponique d'intérieur intelligent, et réellement productif.</p>
        <p>Récoltez vos légumes frais chaque semaine, retrouvez le plaisir des légumes du jardin en intérieur.</p>
    </blockquote>
-->
    <div class="lead text-center">Risebox est unique : un potager aquaponique d'intérieur intelligent et réellement productif. Récoltez vos légumes frais chaque semaine, retrouvez le plaisir des légumes du jardin en intérieur.</div>

    <h2 class="text-center">
        Inclus dans votre Risebox
    </h2>
    <br/>
    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-euro"></span>&nbsp;Eclairage LED optimisé</h4>
            <p class="text-justify mbl">Il émet uniquement le spectre de lumière utile au plantes pour une pousse optimale et 50% d'économie d'énergie.</p>

            <h4><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Circuit d'eau passif</h4>
            <p class="text-justify mbl">Fiable, conçu pour réduire la consommation électrique et le bruit tout en apportant circulation et oxygénation.</p>

            <h4><span class="glyphicon glyphicon-euro"></span>&nbsp;Un bel aquarium</h4>
            <p class="text-justify mbl">200l pour admirer vos poissons, le moteur de la Risebox</p>

            <h4><span class="glyphicon glyphicon-heart"></span>&nbsp;2 bacs de culture universels</h4>
            <p class="text-justify mbl">Capables de faire pousser toutes sortes de plantes sur une surface équivalente à un potager de 6m2.</p>

            <h4><span class="glyphicon glyphicon-heart"></span>&nbsp;Ordinateur embarqué</h4>
            <p class="text-justify mbl">Risebox surveille et optimise votre écosystème pour vous. Il anticipe les incidents et vous donne la marche à suivre.</p>

            <h4><span class="glyphicon glyphicon-heart"></span>&nbsp;App pratique</h4>
            <p class="text-justify mbl">Suivez votre Risebox, bénéficiez de nos conseils et de notre boutique. Vous avez la main verte!</p>
        </div>
        <div class="col-lg-6 mbm">
            <%= image_tag 'program/risebox4.jpg', size: '342x519', class: 'img-responsive', style: 'margin: 0 auto' %>
        </div>
    </div>

    <br/>

    <h2 class="text-center">
        Notre offre early adopter
    </h2>
    <br/>

    <div class="lead text-center">
        Risebox représente beaucoup pour nous. Pour que l'expérience de nos premiers clients soit parfaite, nous avons conçu un programme où tout est inclus.
    </div>

    <div class="row">
        <div class="col-lg-3 mbm">
            <h4>Un modèle unique</h4>
            <p>
                Votre Risebox est fabriquée à la main dans notre atelier et personnalisée à votre goût. Elle est le fruit de centaines d'heures d'amélioration par rapport à notre dernier prototype.
            </p>
        </div>
        <div class="col-lg-3 mbm">
            <h4>Préparé et livré</h4>
            <p>Nous faisons grandir l'éco-système de votre Risebox plusieurs semaines à l'avance. L'équipe se déplace, installe et régle votre Risebox, et vous explique tout.
            </p>
        </div>
        <div class="col-lg-3 mbm">
            <h4>Support premium</h4>
            <p>Nous sommes à votre écoute 7j/7 et nous intervennons chez vous si besoin. Si quelque chose ne fonctionne plus: on remplace. Vous n'êtes pas satisfait: on rembourse</p>
        </div>
        <div class="col-lg-3 mbm">
            <h4>Fournitures incluses</h4>
            <p>Durant toute la durée du programme nous fournissons gratuitement des graines adaptées, des plants pour gagner du temps et la nourriture pour les poissons</p>
        </div>
    </div>

    <div class="text-center mbl">
        <%= link_to "Je réserve ma Risebox", new_program_lead_path, class: 'btn btn-success btn-lg' %>
    </div>

    <p class="lead text-center">
        Risebox est vraiment productif, voici ce que vous pourrez bientôt faire pousser chez vous :)
    </p>

    <div class="row">
        <div class="col-lg-4 mbm">
            <%= image_tag 'program/salade.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
        </div>
        <div class="col-lg-4 mbm">
            <%= image_tag 'program/radis.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
        </div>
        <div class="col-lg-4 mbm">
            <%= image_tag 'program/oseille.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mbm">
            <%= image_tag 'program/fraise.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
        </div>
        <div class="col-lg-4 mbm">
            <%= image_tag 'program/poivron.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
        </div>
        <div class="col-lg-4 mbm">
            <%= image_tag 'program/thym.jpg', class: "img-responsive img-rounded", style: "margin: 0 auto" %>
        </div>
    </div>

    <h2 class="text-center">
        Vos questions
    </h2>
    <br/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Combien ça coute ?
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            La participation coûte 1290€. Comme nous avons peu de places, nous demandons 100€ pour vous garantir la participation au programme. Le solde est à régler une fois que vous confirmez votre commande. Si vous changez d'avis nous remboursons l'intégralité.
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Qui peut participer ?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Pour le moment, le programme early adopter est ouvert aux habitants de Paris (75), les hauts de seine (92) et du val d'oise (95). Si vous êtes interessés et que vous habitez dans un autre département (ou pays) <a href="mailto:hello@risebox.co">contactez-nous</a> et nous vous préviendrons dès que vous pourrez profiter de notre programme.
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Quelle est la taille d'une Risebox ?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            La Risebox mesure 1,20m de large, 2m de haut et 50cm de profondeur. Si vous avez des contraintes d'espace, <a href="mailto:hello@risebox.co">contactez-nous</a> pour que nous étudions avec vous les possibilités de personnalisation.
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mbl">
        <%= link_to 'Je réserve ma Risebox', new_program_lead_path, class: 'btn btn-success btn-lg' %>
    </div>

    <div class="text-center mbl">
        Toujours pas convaincu ?<br />
        Dites-nous ce qui vous gène à <strong>jsuispassur@risebox.co</strong>
    </div>

    <!--
    <div class="well well-lg">
        <p>
        Risebox représente beaucoup pour nous. Pour nos premiers, on veut que tous ce passe bien. C'est pourquoi plutôt que de faire appel à du financement participatif, nous avons pensé programme pour des pionniers.
        <br /><br />
        A très bientôt
        <br />
        Nicolas & Adrien
        </p>
    </div>
    <br/>
    -->

    <%= render 'footer' %>

</div>