<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="og:image" content="<%= image_url('specs/risebox.jpg') %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
<style>
    h1 {
        color: #000;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .header-v1 .navbar-nav > li > a {
        color: #7a7a7a;
    }

    .header-v1 .navbar-nav > li.button-nav > a {
        color: #fff;
    }
</style>
<% end %>

    <%= render 'nav' %>
    
    <section id="home" class="banner-intro banner-moving">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 style="color: black">Déménager votre Risebox c'est facile</h1>
                        <div class="scroll-to banner-buttons">
                            <%= link_to "#gallery-container", class: "btn btn-lg btn-skin btn-radius" do %>
                                En savoir plus <i class="fa fa-angle-down"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br /><br />  
    <%= render "moving_timeline" %>

    <br /><br />  
    <div class="text-center mbl">
        <%= mail_to "team@risebox.co", raw("Vous avez une question ? <br/> Ecrivez-nous !"), class: 'btn btn-success btn-lg btn-radius' %>
    </div>

    <br /><br />  

    <%= render 'footer' %>
<!-- </div> -->