<div class="container">

    <div class="header">
        <!-- <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul> -->
        <!-- <h1><%# image_tag "home/logo3.jpeg", size: '150x90'%><small>Grow quality food @home</small></h1> -->
        <div class="row">
            <div class="col-lg-12 logo">
                <%= image_tag "home/logo.png", width: '150'%>
                <h1 class="baseline pull-right">Grow quality food @home</h1>
            </div>
        </div>
    </div>


<!-- <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
        <%= image_tag "home/home.jpg", class: "img-rounded img-responsive" %>
    </div>
</div> -->

    <div class="jumbotron" style="background-color: white;">

    </div>


    <p class="lead text-center">RiseBox combines a living ecosystem with latest technology to produce healthy and sustainable food just where you live.</p>

    <div id="leadSuccess" class="alert alert-success" role="alert" style="display:none">

    </div>

    <div id="leadError" class="alert alert-danger" role="alert" style="display:none">

    </div>

    <div class="text-center mbl">
        <!-- <div class="center-block"> -->
        <%= form_for @lead, remote: true, html: {class: 'form-inline _leadForm', role: 'form'} do |f| %>
            <div class="form-group">
                <%= f.text_field :email, class: 'form-control input-lg', size: '35', placeholder: 'Enter your email for updates', id: 'lead-email' %>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Stay in touch</button>
        <% end %>
        <!-- </div> -->
    </div>

    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp;Freshest food</h4>
            <p class="text-justify">Tasty, juicy, fully mature and with all the vitamins & minerals. The food you grow with RiseBox is always premium quality.</p>
        </div> 
        <div class="col-lg-6 mbm">   
            <h4><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;100% Organic</h4>
            <p class="text-justify">No chemical fertilizers, treatments nor antibiotic. You are safe and know exactly what you eat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Hassle Free</h4>
            <p class="text-justify">No farming skills needed. RiseBox watches the environment, growth parameters and constantly optimizes the system even when you're out.</p>
        </div>
            <!-- <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Education & Entertainment</h4>
            <p>A living ecosystem next to you is an incredible opportunity to admire and learn from nature</p> -->
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Good for the planet</h4>
            <p class="text-justify">Food keeps growing locally 365 days a year and up to 3 times faster. Enjoy your favorite food at any season, environment isn't hurt</p>
        </div>
    </div>

    <h2 class="text-center mbm">Why we are building RiseBox</h2>
    <p class="mbm">We love the city : it's' energy efficient, energizing, innovative, but providing everyone here with healthy, tasty, sustainable food is a hard problem.</p>
    <p class="mbm">So we thought what if people could grow their own food at home ?</p>
    <p class="mbl">Of course we have too little space, we are not farmers, and live busy lives, but if we could address those issues, it could have a significant impact on the quality of our lives while providing a more sustainable, local and resilient model.</p>
    
    <h3 class="text-center">We designed RiseBox to make it possible</h3>
    <p class="mbm">It creates an organic food producing ecosystem in your home or appartment, and uses technology to adapt to your environment and your lifestyle.</p>
    <p>So RiseBox essentially runs itself, uses very little energy and water, is very productive, and makes growing your own healthy food fun and educative.</p>
    <p class="mbm">We believe change is not started by organisations and policies, but by people like you and us, sharing a vision of a more sensible future, and acting to make it happen.</p>
    <p class="mbl">We wish to empower you to start the growing revolution.</p>
    <div class="footer">
        <p class="text-center">© RiseBox 2014 - Contact-us : <%= mail_to 'hello@risebox.co' %></p>
    </div>

</div>