<div class="container">

    <div class="header">
        <!-- <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul> -->
        <!-- <h1><%# image_tag "home/logo3.jpeg", size: '150x90'%><small>Grow quality food @home</small></h1> -->
        <div class="row">
            <div class="col-lg-12 logo">
                <%= image_tag "home/logo.png", width: '150'%>
                <h1 class="baseline pull-right">Grow quality food @home</h1>
            </div>
        </div>
    </div>


<!-- <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
        <%= image_tag "home/home.jpg", class: "img-rounded img-responsive" %>
    </div>
</div> -->

    <div class="jumbotron" style="background-color: white;">

    </div>


    <p class="lead text-center">RiseBox combines a living ecosystem with latest technology to produce healthy and sustainable food just where you live.</p>

    <div id="leadSuccess" class="alert alert-success" role="alert" style="display:none">

    </div>

    <div id="leadError" class="alert alert-danger" role="alert" style="display:none">

    </div>

    <div class="text-center mbl">
        <!-- <div class="center-block"> -->
        <%= form_for @lead, remote: true, html: {class: 'form-inline _leadForm', role: 'form'} do |f| %>
            <div class="form-group">
                <%= f.text_field :email, class: 'form-control input-lg', size: '35', placeholder: 'Enter your email for updates', id: 'lead-email' %>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Stay in touch</button>
        <% end %>
        <!-- </div> -->
    </div>

    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp;Freshest food</h4>
            <p class="text-justify">Tasty, juicy, fully mature and with all the vitamins & minerals. The food you grow with RiseBox is always premium quality.</p>
        </div> 
        <div class="col-lg-6 mbm">   
            <h4><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;100% Organic</h4>
            <p class="text-justify">No chemical fertilizers, treatments nor antibiotic. You are safe and know exactly what you eat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Hassle Free</h4>
            <p class="text-justify">No farming skills needed. RiseBox watches the environment, growth parameters and constantly optimizes the system even when you're out.</p>
        </div>
            <!-- <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Education & Entertainment</h4>
            <p>A living ecosystem next to you is an incredible opportunity to admire and learn from nature</p> -->
        <div class="col-lg-6 mbm">
            <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Good for the planet</h4>
            <p class="text-justify">Food keeps growing locally 365 days a year and up to 3 times faster. Enjoy your favorite food at any season, environment isn't hurt</p>
        </div>
    </div>

    <h2 class="text-center">Why RiseBOX matters to us ?</h2>
    <h3>Agriculture & food industry are broken</h3>
    <p>In order to scale in volume, our food production and distribution systems destroy our environment : it kills life in the soil and in the oceans, delivers poor quality food, lacks resilience to climate events, burns a lot of fossil fuel for production and transportation, and wastes more food than we actually consume.</p>
    <p class="mbl">We have to do better.</p>
    
    <h3>Existing organic alternatives only solve part of the problem</h3>
    <p class="mbl">Don't get us wrong, we're all for organic farming, or even better : permaculture, but the forms they take today do not scale well.
    These activities require a lot of good land, of which we have less and less,, they still lack resilience to climate events, and while they are an improvement, they do not really solve the transportation, ocean life and waste issues.</p>

    <h3>The problem gets worse in the cities, a lot of us live here</h3>
    <p>We love the city : it is energy efficient, energizing, innovative, and each year a higher fraction of the growing world population moves to the cities. The only sustainable way to feed the cities would be to produce our food here, in a resilient way, but we don't. why ?</p>
    <ul class="mbl">
        <li>because we have little space and no soil, and we live indoors</li>
        <li>because we don't know how to effectively grow food</li>
        <li>because we have no time to spend on this</li>
    </ul>
    
    <h3 class="text-center">RiseBox adresses all these issues</h3>
    <p class="mbl">It creates a productive living ecosystem in your home or appartment, and uses technology to help the ecosystem adapt to your environment and your lifestyle. So RiseBox essentially runs itself, uses very little energy and water, and makes growing your own organic food fun and educative.</p>
    <p class="mbl">We believe the solution to the global agriculture mismatch will not start with organizations or policies: it will come from people who decide to free themselves from an inneficient, unfair model to a more sustainable, sensible one.</p>
    <p class="mbl text-center">We wish to empower you to make that change happen.</p>
    <div class="footer">
        <p class="text-center">© RiseBox SAS 2014 - Contact-us : <%= mail_to 'hello@risebox.co' %></p>
    </div>

</div>