<% content_for :head do %>
    <meta property="og:title" content="<%= t '.meta.og_title' %>" />
    <meta property="og:description" content="<%= t '.meta.og_description' %>" />
    <meta property="description" content="<%= t '.meta.description' %>" />
    <meta property="keywords" content="<%= t '.meta.keywords' %>" />
    <style>
        h1 {
            color: #000;
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 30px;
        }
        .header-v1 .navbar-nav > li > a {
            color: #7a7a7a;
        }

        .header-v1 .navbar-nav > li.button-nav > a {
            color: #fff;
        }
    </style>
<% end %>

<style>
._floatingForm.affix {
    position: relative;
}

@media screen and (min-width: 1200px) {
    ._floatingForm.affix {
        position: fixed;
        width: 22.5%;
    }
}
</style>

<br/>

<section id="features">
    <div class="container">
        <%= render 'home/nav' %>
        <section id="features">
            
            <h1 class="lead text-center" style="margin-bottom: 10px; font-size: 30px">
                Choisissez votre formule
            </h1>
            <div class="row" style="padding-top: 5px">
                <div class="col-sm-4" style="margin-bottom: 5px">
                    <div class="offer-box">
                        <h3 class="text-center" style="color: #ff8f12; font-size: 16px;">Formule Location</h3>
                        <table class="table noborder" style="margin-bottom: 0px;margin-top: 20px">
                            <tbody>
                                <tr>
                                    <td style="border-top: none;"><i class="riseicon riseicon-check darkgreen"></i></td>
                                    <td style="border-top: none;"><h3 style="margin-top: 0px; ">Location Risebox</h3><span>Version commerciale</span></td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;"><i class="riseicon riseicon-check darkgreen"></i></td>
                                    <td style="border-top: none;"><h3 style="margin-top: 0px; ">Kit de démarrage</h3><span>Tout inclus pour démarrer votre écosystème</span></td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;"><i class="riseicon riseicon-check darkgreen"></i></td>
                                    <td style="border-top: none;"><h3 style="margin-top: 0px; ">Pack Recharge</h3><span>Chaque trimestre, vous recevez graines et nourriture pour poissons</span></td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;"><i class="riseicon riseicon-check darkgreen"></i></td>
                                    <td style="border-top: none;"><h3 style="margin-top: 0px; ">Support continu</h3>Nos experts sont là pour vous aider</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="sep"></div>
                                <h3 style="text-align: center"><span class="violet"><%= @offer[@chosen_version]['location'][:price] %></span></h3>
                                <p class="lead text-center"><%= @offer[@chosen_version]['location'][:condition] %></p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px">
                            <div class="col-sm-8">
                                <%= link_to 'Je souhaite louer ma Risebox', new_program_lead_path(version: @chosen_version, offer: 'location'), class: 'btn btn-lg btn-warning btn-radius' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs hidden-sm" style="margin-bottom: 10px">
                    <%= image_tag @chosen_version == "ultimate" ? "home/risebox_front.jpg" : "home/risebox_front_small.jpg", class: "img-responsive" %>
                </div>
                <div class="col-sm-4" style="margin-bottom: 5px">
                    <div class="offer-box">
                        <h3 class="text-center" style="color: #ff8f12; font-size: 16px;">Formule Achat</h3>
                        <table class="table noborder" style="margin-bottom: 0px;margin-top: 20px">
                            <tbody>
                                <tr>
                                    <td style="border-top: none;"><i class="riseicon riseicon-check darkgreen"></i></td>
                                    <td style="border-top: none;"><h3 style="margin-top: 0px; ">Achat Risebox</h3><span>Version commerciale</span></td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;"><i class="riseicon riseicon-check darkgreen"></i></td>
                                    <td style="border-top: none;"><h3 style="margin-top: 0px; ">Kit de démarrage</h3><span>Tout inclus pour démarrer votre écosystème</span></td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;"><i class="riseicon riseicon-check darkgreen"></i></td>
                                    <td style="border-top: none;"><h3 style="margin-top: 0px; ">Support à vie</h3>Nos experts sont toujours là pour vous aider</td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;"><i class="riseicon riseicon-check darkgreen"></i></td>
                                    <td style="border-top: none;"><h3 style="margin-top: 0px; ">Garantie 1 an</h3>Pièces et main d'oeuvre</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="sep"></div>
                                <h3 style="text-align: center"><span class="violet"><%= @offer[@chosen_version]['achat'][:price] %></span></h3>
                                <p class="lead text-center"><%= @offer[@chosen_version]['achat'][:condition] %></p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px">
                            <div class="col-sm-8">
                                <%= link_to 'Je souhaite acheter ma Risebox', new_program_lead_path(version: @chosen_version, offer: 'achat'), class: 'btn btn-lg btn-warning btn-radius' %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </div>
</section>